PORT=4000
# AZURE_KEY_VAULT_URL= / AZURE_KEYVAULT_URI=
# KEY_VAULT_USERNAME_SECRET=username
# KEY_VAULT_PASSWORD_SECRET=password
# APP_USERNAME= / APP_PASSWORD= or username / password
# AKS: AZURE_CLIENT_ID=
